apiVersion: cloud-build-notifiers/v1
kind: BigQueryNotifier
metadata:
  name: example-bigquery-notifier
spec:
  notification:
    filter: build.status == Build.Status.SUCCESS
    template:
      type: golang
      uri: gs://project-name/arbitary.json
    delivery:
      table: projects/project-name/test-data/tables/build_data

